.search-bar {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px 15px;
  background-color: #ff4081;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.search-bar button:hover {
  background-color: #e73370;
}
